
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>
<p>
    <a asp-controller="Library" asp-action="Profile">Add new book</a>

</p>


<form asp-controller="Library" asp-action="Index">
    <div>
        <h5>Search Title:</h5> 
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </div>
</form>

<table class="table table-bordered table-striped" style="width:80%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model) {
            <tr>
                <td>
                    @obj.Title
                </td>
        
                <td>
                    @obj.Author
                </td>
         
                <td>
                    empty
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Read" asp-route-id="@obj.Id">Read</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>