@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid d-flex justify-content-center">
    <img src="~/img/books-many.jpg" height="300px" />
</div>
<div class="container-fluid text-center p-3">
    <h2>Welcome to Ebook Library</h2>
    <a asp-controller="Account" asp-action="Register"><h4>Register to enter</h4></a>

</div>
<div class="container-fluid text-center p-3">
    <p>Website built using ASP.Net Core MVC for uploading eBooks in .epub format.</p>
</div>